<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_插值语法实现</title>
    <!--引入Vue-->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!--准备好一个容器-->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：{{fullName()}}<br><br>
        <!-- //继续调用fullName方法，效率低下
        全名：{{fullName()}}<br><br>
        全名：{{fullName()}}  -->
    </div>
</body>
    <script type="text/javascript">
        Vue.config.productionTip = false //阻止Vue在启动时生成生产提示
        
        new Vue({
          el:'#root',
          data:{
            firstName:'张',
            lastName:'三',
          },
          methods:{
              fullName:function(){
                    console.log('调用fullName方法')
                    return this.firstName.slice(0,4) + '-' + this.lastName
              },
          }
        })
    </script>    
</html>